#data {
	float:right;
	border-style: solid; 
	border-width: thin; 
	border-color: #50372f;
	padding: 10px;
	width: 600px;
	height: 500px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

svg {
	float: right;
}

#dataSum {
	float: left;
	margin-top: 20px;
	border-style: solid; 
	border-width: thin; 
	border-color: #50372f;
	padding: 10px;
	width: 250px;
	height: 250px;
	margin-bottom: 20px;
	font-size: 24px;
}

#weather {
	margin-top: 30px;
	float: left;
	font-size: 18px;
}

#num {
	margin-top: 10px;
	float: right;
	font-size: 18px;
}


