#data {
	float:right;
	border-style: solid; 
	border-width: thin; 
	border-color: #50372f;
	padding: 5px;
	width: 500px;
	height: 1500px;
	background-color: gainsboro;
	opacity: 0.8;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#state {
	text-align: center;
	font-size: 34px;
}

#numState {
	padding-top: 40px;
	margin-right: 300px;
}

table {
	width: 300px;
	margin-left: 100px;
	margin-top: 20px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

table, th, td {
  border: 1px solid;
  border-collapse: collapse;
}


td, th {
  padding: 4px 4px; 
  text-align: center;
}

.max {
  color: red;
}

.min {
	color: blue;
}


#dataSum {
	float: left;
	margin-top: 20px;
	border-style: solid; 
	border-width: thin; 
	border-color: #50372f;
	padding: 10px;
	width: 250px;
	height: 300px;
	margin-bottom: 20px;
	font-size: 24px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#title {
	text-align: center;
}

#weather, #weatherState {
	margin-top: 25px;
	float: left;
	font-size: 18px;
}

#num, #numState {
	margin-top: 25px;
	float: right;
	font-size: 18px;
}

.axis {
  font: 12px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 2px;
}


